.header__lang {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header__lang {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang {
    padding-bottom: 8px;
  }
}
