@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  src: local('Inter'),
    url(./Inter/InterRegular.woff), format('woff'),
    url(./inter/InterRegular.woff2), format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  src: local('Inter'),
    url(./inter/InterBold.woff), format('woff'),
    url(./inter/InterBold.woff2), format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: local('Inter'),
    url(./inter/InterBlack.woff), format('woff'),
    url(./inter/InterBlack.woff2), format('woff2');
}


