.lead__image {
  width: 100%;
  background-image: url(../../../images/lead-polka-m.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .lead__image {
    background-image: url(../../../images/lead-polka-s.jpg);
  }
}


