.cover {
  display: flex;
  flex-direction: column;
  background-image: url(../../images/cover-trains-l.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  margin: 0 auto;
}


@media screen and (max-width: 1023px) {
  .cover {
    background-image: url(../../images/cover-trains-m.jpg);
  }
}

@media screen and (max-width: 424px) {
  .cover {
    background-image: url(../../images/cover-trains-s.jpg);
  }
}
