.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 380px;
    font-size: 48px;
    line-height: 1.07;
  }
}

@media screen and (max-width: 424px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 1.09;
  }
}
